img{
    width: 300px;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
    display: inline-flex;
    align-items:center ;
    
}

.img1{
    height: 300px;
}

.img2{
    height: 300px;
}

.img4{
    height: 300px;
}

.img3{
    height: 300px;
}

.imagens{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-top: 100px;
}
